.root{
	-fx-background-color:#fffff2;
}

#lb_title_text{
	-fx-text-alignment:center;
	-fx-padding:10 20 10 20;
	-fx-font-size:30pt;
	-fx-font-family:Verdana;
	-fx-font-weight:bold;
	-fx-text-fill:#ffffff;
	-fx-effect: dropshadow(gaussian,#5c2ae6,20,0.7,5,3);
	-fx-alignment:center;
}

.button{
	-fx-text-fill:#ffffff;
	-fx-font-weight:bold;
	-fx-font-size:16pt;
	-fx-padding:5px;
	-fx-border-color:#3c00bd;
	-fx-border-radius:12px;
	-fx-border-width:5px;
	-fx-background-color:#4352ff;
	-fx-background-radius:12px;
	-fx-indent:10 5 10 5;
}
.button:hover{
	-fx-background-color:#4377ff;
}
